{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1 class="display-4 fw-normal text-body-emphasis">О сайте</h1>
<p class="fs-5 text-body-secondary">Добро пожаловать на сайт EventBlog!<br><br>

Мы надеемся, что наш сайт станет для вас надежным помощником в планировании своих дел и поможет вам провести свободное время с пользой и удовольствием. Если у вас есть какие-либо вопросы или предложения, пожалуйста, свяжитесь с нами с помощью контактной информации ниже.<br><br>

Почта: zhdanova.allina@yandex.ru<br><br>

Личная страница создателя: <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="https://vk.com/quiet_imp">Alina Zhdanova</a><br><br>


Спасибо за посещение нашего сайта!</p>
{% endblock %}