{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1 class="display-4 fw-normal text-body-emphasis">Редактирование</h1>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Заголовок"><br>
    <textarea name="text" id="text" class="form-control" placeholder="Основной текст">{{ article.text }}"</textarea><br>
    <input type="date" name="date" id="date" class="form-control" value="{{ article.date.date() }}"><br>
    <input type="submit" class="btn btn-success" value="Обновить">
</form>
</div>
{% endblock %}